<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaron.mybatisdemo.mapper.OrderMapper">
    <!--一对一结果集-->
    <resultMap id="orderUserMap" type="com.aaron.mybatisdemo.domain.Order">
        <id column="id" property="id"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="user_id" property="userId"/>
        <association property="user" select="getUser" column="user_id">
           <id column="id" property="id"/>
           <result column="username" property="username"/>
           <result column="birthday" property="birthday"/>
           <result column="address" property="address"/>
           <result column="sex" property="sex"/>
        </association>
    </resultMap>

    <select id="getUser" resultType="user">
        select * from user where id = #{user_id}
    </select>

    <select id="selectUserByOrderId" parameterType="int" resultMap="orderUserMap">
        select o.*
        from `order` o where o.id = #{orderId}
    </select>

    <!--在进行批量插入返回主键id时，不能使用@Param注解，collection 使用list，主键返回使用：useGeneratedKeys="true" keyProperty="id"
    单条使用<selectKey> 或者使用 useGeneratedKeys="true" keyProperty="id"-->
    <insert id="batchInsertOrdres" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        <!-- 动态SQL实际上就是SQL的拼接处理 以及一些逻辑判断等
            if
            choose (when, otherwise)
            trim (where, set)
            foreach
        -->
        <if test="list.size >0">
                insert into `order`(remark,create_time,update_time,user_id) values
                <!-- collection：指定输入的集合参数的参数名称 -->
                <!-- item：声明集合参数中的元素变量名 -->
                <!-- open：集合遍历时，需要拼接到遍历sql语句的前面 -->
                <!-- close：集合遍历时，需要拼接到遍历sql语句的后面 -->
                <!-- separator：集合遍历时，需要拼接到遍历sql语句之间的分隔符号 -->
                <!--如果parameterType不是POJO类型，而是List或者Array的话，那么foreach语句中，collection属性值需要固定写死为list或者array。-->
                <foreach collection="list" item="order" index="index" separator=",">
                    (#{order.remark},#{order.createTime},#{order.updateTime},#{order.userId})
                </foreach>
        </if>
    </insert>

</mapper>